# Check that there is correct spelling in all files
name: Check spelling

on:
  push:
  pull_request:

jobs:
  check_spelling:

    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:

      - name: Set up Git repository
        uses: actions/checkout@v2

      - uses: igsekor/pyspelling-any@v1.0.4
